@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<div class="page">
    <main>
        <AuthorizeView>
            <Authorized>
                <div class="d-flex flex-md-row justify-content-between p-md-2" style="background-color: lightgrey">
                    <h2 class="text-primary m-1">Chat</h2>
                    <div class="mt-2">
                        <b class="mx-1">Hello, @context.User.Identity.Name</b>
                        <NavLink class="mx-1" href="logout">Logout</NavLink>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        if (!authState.User.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/login");
        }
    }
}